{% extends "base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/choose_role.css' %}">

<div class="role-container">
    <div class="role-card">

        <h2>Welcome {{ user.username }}</h2>
        <p>Please choose how you would like to continue.</p>

        <a href="{% url 'home' %}" class="role-btn user-btn">
            👤 Continue as Candidate
        </a>

        {% if profile.role == "recruiter" %}
        <a href="{% url 'recruiter_dashboard' %}" class="role-btn recruiter-btn">
            💼 Continue as Recruiter
        </a>
        {% endif %}

    </div>
</div>

{% endblock %}