{% extends 'base.html' %} {% load static %} {% block content %}

<section class="reset-section">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>

  <div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-lg-5">
        <div class="reset-card">
          <div class="text-center">
            <div class="reset-icon">
              <i class="fa-solid fa-lock"></i>
            </div>

            <h2 class="mt-4 fw-bold">Create New Password</h2>

            <p class="text-secondary">
              Your new password must be different from your previous password.
            </p>
          </div>

          {% if messages %} {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
          {% endfor %} {% endif %}

          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label"> New Password </label>

              <input
                type="password"
                class="form-control"
                name="password1"
                placeholder="Enter new password"
                required
              />
            </div>

            <div class="mb-4">
              <label class="form-label"> Confirm Password </label>

              <input
                type="password"
                class="form-control"
                name="password2"
                placeholder="Confirm password"
                required
              />
            </div>

            <button class="btn btn-primary reset-btn w-100">
              Update Password

              <i class="fa-solid fa-check ms-2"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
