.sidebar{

height:100vh;

background:#001529;

}

.sidebar-link{

display:block;

padding:15px 20px;

color:white;

text-decoration:none;

font-weight:500;

transition:.3s;

}

.sidebar-link:hover{

background:#1677ff;

padding-left:28px;

color:white;

}

.active{

background:#1677ff;

}

.card{

border-radius:12px;

}

.table{

margin-bottom:0;

}