body {
  background: #f5f7fb;
}

.card {
  border-radius: 20px;
}

.card-header {
  padding: 25px;
}

label {
  font-weight: 600;

  margin-bottom: 8px;
}

.form-control,
.form-select {
  border-radius: 10px;

  height: 50px;
}

textarea {
  height: 130px !important;
}

.btn {
  padding: 10px 25px;

  border-radius: 10px;
}
