body {
  background: #080b17;
  font-family:
    Segoe UI,
    sans-serif;
}

.reset-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #080b17;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
}

.circle1 {
  width: 250px;
  height: 250px;
  background: #6c4cff;
  top: -70px;
  left: -70px;
}

.circle2 {
  width: 200px;
  height: 200px;
  background: #00bfff;
  bottom: -50px;
  right: -50px;
}

.reset-card {
  background: rgba(17, 25, 40, 0.85);
  backdrop-filter: blur(20px);
  padding: 45px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.reset-icon {
  width: 90px;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #6c4cff, #00bfff);
  font-size: 35px;
  color: white;
}

.form-control {
  background: #141d36;
  border: none;
  height: 55px;
  color: white;
}

.form-control:focus {
  background: #141d36;
  color: white;
  box-shadow: none;
}

.reset-btn {
  height: 55px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, #6c4cff, #3d7cff);
}

.reset-btn:hover {
  transform: translateY(-3px);
}
