body{
background:#080b17;
font-family:Segoe UI,sans-serif;
}

.forgot-section{
min-height:100vh;
display:flex;
align-items:center;
background:#080b17;
position:relative;
overflow:hidden;
}

.circle{
position:absolute;
border-radius:50%;
filter:blur(80px);
}

.circle1{
width:260px;
height:260px;
background:#6c4cff;
top:-80px;
left:-80px;
}

.circle2{
width:220px;
height:220px;
background:#00bfff;
bottom:-60px;
right:-60px;
}

.forgot-card{
background:rgba(17,25,40,.8);
backdrop-filter:blur(20px);
padding:45px;
border-radius:25px;
border:1px solid rgba(255,255,255,.08);
box-shadow:0 20px 60px rgba(0,0,0,.4);
}

.forgot-icon{
width:90px;
height:90px;
margin:auto;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:35px;
background:linear-gradient(45deg,#6c4cff,#00bfff);
color:white;
box-shadow:0 0 30px #6c4cff;
}

.form-control,
.input-group-text{
background:#141d36;
border:none;
color:white;
}

.form-control{
height:55px;
}

.form-control:focus{
background:#141d36;
color:white;
box-shadow:none;
}

.forgot-btn{
height:55px;
border:none;
border-radius:14px;
font-size:18px;
font-weight:700;
background:linear-gradient(90deg,#6c4cff,#3d7cff);
transition:.3s;
}

.forgot-btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 30px rgba(108,76,255,.5);
}

.back-link{
text-decoration:none;
color:#7f5cff;
font-weight:600;
}

.back-link:hover{
color:white;
}